<!DOCTYPE html>
<html>
<head>
	<title>Sync Link | More Resources</title>
	<link rel="icon" type="image/png" href="static/sync_link.png"/>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<style>
	body {
		font-family: 'lato', sans-serif;
    text-align: center;
	}

  .container {
    margin: auto;
    width: 70%;
    padding: 20px;
    margin-top: 10px;

  }
  img {
    width: 20%;
    height: auto;
  }
a {
  color: #8fb1ff;
}
</style>
</head>
<body>

  <div class="container" >
    <img class = 'im_center2' src="{{url_for('static', filename='sync_link2.png')}}" alt="Sync Link Smaller">
    <h1> Couldn't Find What You Were Looking For?</h1>
    <h2> Here are some recommended resources:</h2>
    <h5>Or <a href='/' target = '_blank'>Try Another Search</a></h5>

  <div style="float: left; width: 50%; margin-right: 40px;">
      <h2>Master</h2>

      <p><a href='http://spotify.com/' target = '_blank'>Spotify</a></p>
      <p><a href='https://www.deezer.com/us/' target = '_blank'>Deezer</a></p>
      <p><a href='https://www.discogs.com/' target = '_blank'>Discogs</a></p>
      <p><a href='https://www.allmusic.com/' target = '_blank'>Allmusic</a></p>
      <p><a href='https://www.apple.com/apple-music/' target = '_blank'>Apple Music</a></p>
    <br>
      <h2>Special Cases</h2>
      <p>To check for samples: <a href='https://www.whosampled.com/' target = '_blank'>WhoSampled?</a></p>
      <p>To check for public domain: <a href='https://imslp.org/wiki/Main_Page' target = '_blank'>Deezer</a></p>
      <p>To check for for past uses: <a href='http://tunefind.com/' target = '_blank'>Tunefind</a> & <a href='https://what-song.com' target = "_blank">WhatSong</a></p>
  </div>
  <div style="float: left">
    <h2>Publishing</h2>
    <p><a href='https://musicbrainz.org/search' target = '_blank'>MusicBrainz</a></p>
    <p>Lyric websites like <a href='http://azlyrics.com/' target = '_blank'>AZ Lyrics</a></p>
    <p>Sheet music sites like <a href='https://www.musicnotes.com/' target = '_blank'>Musicnotes</a></p>
    <p><a href='https://www.ascap.com/repertory' target = '_blank'>ASCAP</a></p>
    <p><a href='http://repertoire.bmi.com/StartPage.aspx' target = '_blank'>BMI</a></p>
    <p><a href='https://www.sesac.com/#!/repertory/terms-of-service' target = '_blank'>SESAC</a></p>
    <p><a href='https://globalmusicrights.com/search' target = '_blank'>GRM</a></p>
    <p><a href='https://cocatalog.loc.gov/cgi-bin/' target = '_blank'>Library of Congress</a><p>

  </div>


  </div>
</body>
